$linkColor: $black;
$hoverColor: $blue;

#nav {
  transition: all 0.6s ease;
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  border: 1px solid $black;
  border-right: 0;
  @include rem-fallback(padding, 0.75, 0);
  @include rem-fallback(padding-left, 1);

  @include mobile {
    border-left: 0;
  }
  .link {
    line-height: 2;
    &:last-child {
      padding-bottom: 0;
    }
    a {
      font-size: 2.5em;
      color: $linkColor;
      text-decoration: none;
      font-family: $josefin;
      i {
        text-align: center;
        color: $linkColor;
        width: 45px;

        @include mobile {
          width: 30px;
        }
      }
      .text {
        letter-spacing: 4px;
        line-height: 1;
        @include rem-fallback(padding-left, 0.75);

      }
      &:visited,
      &:active,
      &:focus {
        color: $linkColor;
        i {
          color: $linkColor;
        }
      }
      &:hover {
        color: $hoverColor;
        i {
          color: $hoverColor;
        }
      }
    }
  }
}
