/***
 * COLORS
 ***/

$white: #fff;
$black: #000;
$grey: #f2f2f2;
$yellow: #FFF950;
$darkGrey: #3b3b3b;
$purple: #6f5184;
$orange: #dd5407;
$green: #2C3D32;
$skyBlue: #00bfff;


$white: #feffff;
$black: #312c32;
$skyBlue: #98dafc;
$tan: #daad86;
