<div class="view home-view">

  <!-- HEADER -->
  <div class="header-include cf" ng-include="'shared/header/header.html'"></div>

  <!-- PORTFOLIO -->
  <div class="subview-click portfolio-click">
    <a href="/#/portfolio"><h3 class="subview-click-header portfolio-click-header">Portfolio <span class="subview-click-arrow portfolio-click-arrow">&#59238;</span></h3></a>  <!-- ng-click="displayPortfolio()" -->
  </div>
  <!-- <portfolio ng-show="portfolioView"></portfolio> -->

  <!-- EXPERIENCE -->
  <div class="subview-click experience-click">
    <a href="/#/experience"><h3 class="subview-click-header experience-click-header">Experience <span class="subview-click-arrow experience-click-arrow">&#59238;</span></h3></a>  <!-- ng-click="displayExperience()" -->
  </div>
  <!-- <experience ng-show="experienceView"></experience> -->

  <!-- EDUCATION -->
  <div class="subview-click education-click">
    <a href="/#/education"><h3 class="subview-click-header education-click-header">Education <span class="subview-click-arrow education-click-arrow">&#59238;</span></h3></a>  <!-- ng-click="displayEducation()" -->
  </div>
  <!-- <education ng-show="educationView"></education> -->

  <!-- MUSIC -->
  <div class="subview-click music-click">
    <a href="/#/music"><h3 class="subview-click-header music-click-header">Music <span class="subview-click-arrow music-click-arrow">&#59238;</span></h3></a>  <!-- ng-click="displayMusic()" -->
  </div>
  <!-- <music ng-show="musicView"></music> -->

  <!-- FOOTER -->
  <!-- <div class="footer-include cf" ng-include="'shared/footer/footer.html'"></div> -->

</div>