<div class="portfolio-item-view">

  <div class="portfolio-link cf">
    <a href="/#/portfolio"><h3 class="portfolio-link-header"><span class="portfolio-link-arrow">&#59237;</span> Portfolio</h3></a>
  </div>

  <div class="subview-content cf">
    <h2 class="portfolio-item-view-header">{{item.header}}</h2>
    <h5 class="portfolio-item-view-subheader">{{item.subheader}}</h5>
    <p class="portfolio-item-view-summary">{{item.longSummary}}</p>
    <p class="portfolio-item-view-repo-link" ng-repeat="linkItem in item.moreLinks"><a ng-href="{{linkItem.link}}">{{linkItem.text}}</a></p>
    <div class="portfolio-item-view-pictures cf">
      <h4 class="portfolio-item-view-pictures-header">The Path in Pictures</h4>
      <div class="portfolio-item-view-pictures-plan cf"  ng-show="{{item.planPictures.length}}">
        <h5 class="portfolio-item-view-pictures-plan-header">Planning</h5>
        <div class="portfolio-item-view-plan-picture-container" ng-repeat="planPicture in item.planPictures">
          <img ng-src="{{planPicture.link}}" class="portfolio-item-view-plan-picture">
          <h6 class="portfolio-item-view-plan-picture-title">{{planPicture.title}}</h6>
        </div>
      </div>
      <div class="portfolio-item-view-pictures-app cf" ng-show="{{item.appPictures.length}}">
        <h5 class="portfolio-item-view-pictures-app-header">Application</h5>
        <div class="portfolio-item-view-app-picture-container" ng-repeat="appPicture in item.appPictures">
          <img  ng-src="{{appPicture.link}}" class="portfolio-item-view-app-picture">
          <h6 class="portfolio-item-view-app-picture-title">{{appPicture.title}}</h6>
        </div>
      </div>
    </div>
    <div class="portfolio-item-view-tools">
      <h4 class="portfolio-item-view-tools-header">Tools &amp; Technologies</h4>
      <ul class="portfolio-item-view-tools-list-group">
        <li class="portfolio-item-view-tools-list-item" ng-repeat="tool in item.tools">{{tool}}</li>
      </ul>
    </div>
    <div class="portfolio-item-view-wisdoms">
      <h4 class="portfolio-item-view-wisdoms-header">The Wisdom I Won</h4>
      <ul class="portfolio-item-view-wisdoms-list-group">
        <li class="portfolio-item-view-wisdoms-list-item" ng-repeat="wisdom in item.wisdoms">{{wisdom}}</li>
      </ul>
    </div>
  </div>

</div>