<div class="education-view subview">

  <div class="home-link-include cf" ng-include="'shared/home-link/home-link.html'"></div>

  <img src="images/circles/circle-reading.png" class="education-image subview-image">

  <h3 class="education-title subview-title">Education</h3>

  <p class="education-summary subview-summary">I'll never stop learning. Most recently, I graduated from MakerSquare, an accelerated learning program for web development. I have a Bachelor's of Business Administration in Marketing from Texas State University. My time at MakerSquare and my time at Texas State have had the most impact on my professional character. I have a love for technology and a love for consumer behavior (I call it "The People Science"), so I attach myself to any project that puts a divine user experience first and foremost. I also have an Associates of Science in Audio Engineering (like working in a music studio). See the <a href="/#/music">MUSIC section</a> for more on my music.</p>

  <div class="subview-content cf">
    <div class="education-item" ng-repeat="education in educations">
      <h4 class="education-item-name">{{education.name}}</h4>
      <h5 class="education-item-major">{{education.major}}</h5>
      <h5 class="education-item-year">{{education.gradYear}}</h5>
      <p class="education-item-summary">{{education.summary}}</p>
      <div class="education-item-extras" ng-show="{{education.extras.length}}" ng-repeat="extra in education.extras">
        <h5 class="education-item-extra-title">{{extra.title}}</h5>
        <ul>
          <li ng-repeat="item in extra.items" class="education-item-extra">{{item}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="resume-download-link-include cf" ng-include="'shared/resume-download-link/resume-download-link.html'"></div>

</div>